.contact__container {
  display: flex;
  background-color: white;
  border-radius: 16px;
  padding: 38px;
  align-items: center;
  gap: 300px;
}
.contact__container h1 {
  color: #3c80f7;
  font-size: 20px;
  font-weight: 700;
}

.contact__container input,
.contact__container textarea {
  width: 500px;
  border-radius: 16px;
  border: none;
  background: #f7f7f7;
}
.contact__container input {
  padding-left: 20px;
  height: 50px;
}
.contact__container textarea {
  height: 165px;
}
.contact__container button {
  margin-top: 20px;
  border-radius: 16px;
  background: #3965ff;
  border: none;
  width: 500px;
  color: white;
  height: 40px;
}
