table {
  border-collapse: collapse;
  border-radius: 16px;
  background-color: white;
}

th,
td {
  padding: 12px 24px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.28px;
}

th {
  color: #a3aed0;
}
td {
  color: #2b3674;
}
.dashboard__function {
  display: flex;
  flex-direction: column;
}
